<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
       <div class="mylogin">  
        <h1>Admin Login</h1>
          <form action="{% url 'adminlogin' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        
        <div>
        <label for="email">Enter-Email</label><br>
        <input type="email" placeholder="example@gmail.com" required  name="email"> 
        </div>


        <div>
        <label for="pass">Enter-pass</label><br>
        <input type="email"  required  name="pass">
        </div>

         <div>
        
            {% comment %} <a href="{% url 'register' %}">Don't have an account? Register here.</a>
            <br>
            <a href="{% url 'adminlogin' %}">Admin Login</a> 
            <br> {% endcomment %}
             <input type="submit" value="Login">
             


        </div> 
    </form>
        

        
    
    </div>
   


    
</body>
</html>
