{% extends "base.html" %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
{% endblock %}
{% block content %}

<div class="table-container">
    <h1>Employee Deletion Page</h1>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Department</th>
                <th>Your Task</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data3 %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.employe_name }}</td>
                <td>{{ i.employe_email }}</td>
                <td>{{ i.contact_number }}</td>
                <td>{{ i.department }}</td>
                <td>{{ i.your_work }}</td>
                <td>
                    <a href="{% url 'remove' pk=i.id %}" class="delete-btn">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
