{% extends "base.html" %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
{% endblock %}
{% block content %}
  <div class="table-container">
    <h1 style="color: black;">Employee List</h1>
    <table border="2px solid black" >
        
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Department</th>
                
            </tr>
    
        
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.employe_name }}</td>
                <td>{{ i.employe_email }}</td>
                <td>{{ i.contact_number }}</td>
                <td>{{ i.department }}</td>
            
            </tr>
            {% endfor %}
    
    </table>
</div>



{% endblock %}
