{% extends "base.html" %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
{% endblock %}
{% block content %}
<div class="table-container">
    <h1>Employee List</h1>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Department</th>
                <th>Your Task</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.employe_name }}</td>
                <td>{{ i.employe_email }}</td>
                <td>{{ i.contact_number }}</td>
                <td>{{ i.department }}</td>
                <td>{{ i.your_work }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
